
.Button {
cursor: pointer ;
width: auto;
justify-content: center;
align-items: center;
padding: 3px;
border-radius:50px;
background-color: rgba(255, 255, 255, 0.7);
border: 1px solid #E5E7EB;
box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(50px);
-webkit-backdrop-filter: blur(50px);
color: #1A1C1E;
}
.Button:hover {
  background-color: #fff;
  animation: pulse 0.3s ease-out 1 forwards;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
  }
  100% {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  }
}