.formFlexContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}

.dropdownButton {

  position: relative;
  padding: 6px 30px 6px 20px; /* menor */

  font-size: 14px; /* menor */
  cursor: pointer;
  color: #1A1C1E;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #E5E7EB;
  border-radius: 100px 0px 0px 100px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.dropdownArrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-top-color: #1A1C1E;
  pointer-events: none;
}

.textbox-input {
  margin-left: 2px;
  font-size: 14px;
  padding: 6px 0px; /* menor */
  padding-left: 4px;
  border-radius: 0px 100px 100px 0px !important;
  margin-right: 5px;
  min-width: 30px; /* reduzido */
  flex-grow: 1;
  outline: none;
  color: #1A1C1E;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #E5E7EB;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);


  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.Dropdown {
    z-index: 9999;
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 160px; /* menor */
  overflow-y: auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #E5E7EB;
  backdrop-filter: blur(50px);
  list-style: none;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}



.dropdownItem {
  width: 90%;
  padding: 6px 10px; /* menor */
  font-size: 14px;
  color: #1A1C1E;
  cursor: pointer;
  border-radius: 100px;
  text-align: center;z-index: 1000;
  user-select: none;
}

.dropdownItem:hover {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #E5E7EB;
}

.selectedItem {
  font-weight: bold;
  color: green;
}

.Dropdown::-webkit-scrollbar {
  width: 6px;
}

.Dropdown::-webkit-scrollbar-thumb {
  background-color: #1A1C1E;
  border-radius: 10px;
}

.dropdownButton:hover {
  animation: pulse 0.3s ease-out 1 forwards;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* menor */
  }
}
