/* 🎨 Paleta aplicada:
   - Bordas: #EBD107
   - Hover e Clickeds: #EB0721
   - Texto: #FFF
   - Fundo de inputs: #FFF
   - Fundo de botões e dropdowns: #EB5F07
*/

.formFlexContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}

.dropdownButton {
  position: relative;
  padding: 4px 40px 4px 5px;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0px 100px 100px 0px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #EB5F07;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.dropdownArrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-top-color: #fff !important;
  pointer-events: none;
}

.textbox-input {
  margin-right: 1px;
  font-size: 14px;
  padding: 6px 0px;
  padding-left: 10px;
  border-radius: 100px 0px 0px 100px !important;
  margin-right: 1px;
  min-width: 30px;
  flex-grow: 1;
  outline: none;
  color: #1A1C1E;
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.textbox-input::placeholder {
  color: #000000;
}

.Dropdown {
  z-index: 9999;
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 160px;
  overflow-y: auto;
  border-radius: 10px;
  background-color: #EB5F07;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  border-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  list-style: none;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dropdownItem {
  width: 90%;
  padding: 6px 10px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  border-radius: 100px;
  text-align: center;
  z-index: 1000;
  user-select: none;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  border: 2px solid transparent;
}

.dropdownItem:hover {
  animation: pulse 0.3s ease-out 1 forwards;
}

.selectedItem {
  font-weight: bold;
  color: #fff;
}

.Dropdown::-webkit-scrollbar {
  width: 6px;
}

.Dropdown::-webkit-scrollbar-thumb {
  background-color: #fff !important;
  border-radius: 10px;
}

.dropdownButton:hover {

  animation: pulse 0.3s ease-out 1 forwards;
}

@keyframes pulse {
  0% {
    background-color: #eb5e07;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    background-color: #ff8800;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}